name: Database Deployment

on:
  push:
    branches:
      - main  # Trigger the workflow on pushes to the main branch

jobs:
  migrate:
    runs-on: flyway_1 # Specify the self-hosted runner

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Run Flyway Migrate
      run: |
        # Path to Flyway CLI
        flyway_path="C:\Program Files\Red Gate\Flyway Desktop\flyway"
        
        # Running Flyway with Windows Authentication
        "$flyway_path/flyway" migrate -url="jdbc:sqlserver://AWS-PROD-SQL\\Sockeye;databaseName=flyway_gh_actions;integratedSecurity=true;encrypt=true;trustServerCertificate=true" -locations=filesystem:./sql/migrate